.spot-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  max-width: 1600px;
  place-items: center;
  gap: 30px 10px;
}

.spot-list-images {
  max-width: 300px;
  max-height: 285px;
  min-width: 240px;
  min-height: 230px;
  border-radius: 15px 15px 0px 0px;
}

.single-spot-container {
  box-shadow: rgb(0 0 0 / 50%) 0px 6px 16px;
  object-fit: cover;
  border-radius: 15px;
}

.spot-list-spot-info {
  padding: 10px;
}

.splash-banner {
  display: flex;
  justify-content: center;
  width: 1200px;
}

.splash-banner-img {
  width: fit-content;
  display: flex;
  justify-content: center;
  box-shadow: rgb(0 0 0 / 50%) 0px 6px 16px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.spots-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
