.logo-text {
  width: 100px;
  height: 31px;
}

.full-logo * {
  color: #FF5A5F !important;
}

.full-logo>a {
  display: flex;
  flex-direction: row;
  width: 135px;
}

a {
  text-decoration: none;
}

.navbar-container {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  /* max-width: 1250px; */
  height: 60px;
  align-items: center;
  box-shadow: rgb(0 0 0 / 8%) 0px 1px 1px;
}

.navbar-right {
  display: flex;
  flex-direction: row;
}

/* .profile-pic {
  width: 29px;
  height: 29px;
  border-radius: 50%;
} */

.dropdown-button {
  display: flex;
  align-items: center;
  border-radius: 30px;
  background-color: #ffffff;
  border: solid 1px gray;
  cursor: pointer;
  width: 65px;
  height: 35px;
  justify-content: space-between;
  padding: 6px 6px;
}
