.spot-details-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  /* align-items: center; */
  margin: auto;
}

.spot-images {
  display: flex;
  flex-direction: row;
  box-shadow: rgb(0 0 0 / 50%) 0px 6px 16px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.spot-single-image {
  /* max-width: 270px;
  max-height: 160px; */
  width: 240px;
  height: 200px;
}

/* .image-0 {
  width: 400px;
  height: 200px;
} */

.create-booking-calendar {
  position: sticky;
  top: 20px;
  /* right: 20px; */
}

.spot-name {
  font-size: 26px;

}

.spot-heading {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.spot-description {
  box-shadow: rgb(0 0 0 / 50%) 0px 6px 16px;
  padding: 10px;
  border-radius: 10px;
}

.spot-owner {
  padding: 10px;
}
