.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.signup-form-list {
  /* margin: 10px auto; */
  max-width: 400px;
  padding: 10px;
  font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-form-list div {
  padding: 0;
  display: block;
  /* list-style: none; */
  margin: 10px 0 0 0;
}

.signup-form-list label {
  margin: 0 0 3px 0;
  padding: 0px;
  display: block;
  font-weight: bold;
}

.signup-form-list input[type=text],
.signup-form-list input[type=password] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #BEBEBE;
  padding: 7px;
  margin: 0px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border-radius: 10px;
  ;
}

.signup-form-list .field.signup {
  width: 100%;
}



.signup-form-list input[type=submit],
.signup-form-list input[type=button] {
  background: #4B99AD;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}

.signup-form-list input[type=submit]:hover,
.signup-form-list input[type=button]:hover {
  background: #4691A4;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.signup-form-list .required {
  color: red;
}

button.signup-button {
  background: #FF5A5F;
  color: white;
  border-style: outset;
  border-color: orangered;
  height: 30px;
  width: 100px;
  font: bold 15px arial, sans-serif;
  text-shadow: none;
  border-radius: 15px;
  margin-left: 0px !important;
}


button.menu-buttons {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.demo-button-signup {
  background: #FF5A5F;
  color: white;
  border-style: outset;
  border-color: orangered;
  height: 40px;
  width: 100px;
  font: bold 15px arial, sans-serif;
  text-shadow: none;
  border-radius: 15px;
  margin-left: 0px !important;
  margin-bottom: 10px;
}

div.form-title {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  text-align: center;
  width: 200px;
}

.errors-list {
  display: flex;
  flex-direction: column;
  width: 150px;
}
